.DS_Store
~*.docx
TSWLatexianTemp_*
*.tcp
*.tps
*.aux
*.dvi
*.log
*.class

LCARS/template/*
LCARS/vendors/*

LCARS/db/ApiCore/build/*
LCARS/db/ApiCore/nbproject/*
LCARS/db/ApiCore/test/*
LCARS/db/ApiCore/build.xml
LCARS/db/ApiCore/dbinfo.txt
LCARS/db/ApiCore/manifest.mf

LCARS/API/src/logs.txt
