#target-dropdown>.btn {
   border-radius: 3px;
   margin-right: 4px;
}

#address-inputs>.col-lg-6 {
   padding-left: 0px;
   padding-right: 5px;
}

#address, #address2 {
   border-radius: 3px;
}

#reconf-log-jtron {
   max-height: 400px;
   overflow: auto;
   padding: 20px;
   margin-bottom: 10px;
}
