#target-dropdown>.btn {
   border-radius: 3px;
   margin-right: 4px;
}

#address-inputs>.col-lg-6 {
   padding-left: 0px;
   padding-right: 5px;
}

#address, #address2 {
   border-radius: 3px;
}

#reconf-log-jtron {
   height: 100%;
   overflow: auto;
   white-space: nowrap;
   padding: 20px;
   margin-bottom: 10px;
}

td>input {
   display: block;
   width: 100%;
}

.submit-btn {
   background-color: mediumseagreen;
   border-color: mediumseagreen;
}

.submit-btn>span {
   color: white;
}

.submit-btn:hover {
   background-color: #82cea4;
}

.cancel-btn {
   background-color: indianred;
   border-color: indianred;
}

.cancel-btn>span {
   color: white;
}

.cancel-btn:hover {
   background-color: #df9797;
}

.add-btn {
   position: absolute;
   right: 15px;
   top: 10px;
   background-color: #558CB0;
   border-color: #558CB0;
}

.add-btn>span {
   color: white;
   font-size: 18px;
}

.timeline .block {
   margin-left: 180px;
}

.timeline .tags {
   width: 150px;
}

.nav.child_menu li.active {
   background-color: inherit;
}

li>.nav.child_menu li:hover {
   background-color: rgba(255,255,255,0.06);
}

#log-data {
   white-space: pre;
}

/* From: http://stackoverflow.com/questions/22920589/bootstrap-3-input-xs-smaller-than-sm#22920590  */
.input-xs {
   height: 22px;
   padding: 2px 5px;
   font-size: 12px;
   line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
   border-radius: 3px;
}

.analyze-btn, .input-group-btn:last-child>.analyze-btn {
   border-radius: 3px;
   width: 25px;
}

/* Hive plots styling */
.link {
   fill: none;
   stroke-width: 3px;
   stroke: grey;
}
.axis, .node {
   stroke: #000;
   stroke-width: 1.5px;
}
.link.active {
   stroke: green;
   stroke-width: 2px;
   stroke-opacity: 1;
}
.node.active {
   stroke: green;
   stroke-width: 3px;
}
 
