#target-dropdown>.btn {
   border-radius: 3px;
   margin-right: 4px;
}

#address-inputs>.col-lg-6 {
   padding-left: 0px;
   padding-right: 5px;
}

#address, #address2 {
   border-radius: 3px;
}

#reconf-log-jtron {
   height: 100%;
   overflow: auto;
   white-space: nowrap;
   padding: 20px;
   margin-bottom: 10px;
}

td>input {
   display: block;
   width: 100%;
}

.submit-btn {
   background-color: mediumseagreen;
   border-color: mediumseagreen;
}

.submit-btn>span {
   color: white;
}

.submit-btn:hover {
   background-color: #82cea4;
}

.cancel-btn {
   background-color: indianred;
   border-color: indianred;
}

.cancel-btn>span {
   color: white;
}

.cancel-btn:hover {
   background-color: #df9797;
}

.add-btn {
   position: absolute;
   right: 15px;
   top: 10px;
   background-color: #558CB0;
   border-color: #558CB0;
}

.add-btn>span {
   color: white;
   font-size: 18px;
}

